@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.form {
  width: 80%;
  border: 2px solid black;
  margin-left: 10%;
  font-family: 'Kdam Thmor Pro', sans-serif;
  opacity: 70%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.Avertissement {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.ContactTitle {
  color: white;
  padding-top: 100px;
}

.form:hover {
  opacity: 100%;
}

label {
  font-size: 20px;
  width: 80%;
  padding: 20px;
  color: white;
}

input {
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
}

.Input {
  margin-top: 20px;
  color: black;
}

.button {
  padding: 5px;
  margin-top: 10px;
  margin-right: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 60px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
  .form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .Avertissement {
    font-size: 28px;
  }

  h2 {
    font-size: 40px;
  }
}