@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.Vedette {
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c] 1fr[d] 1fr [e];
  grid-template-rows: [a] 1fr [b] 1fr [c] 1fr[d] 1fr [e];
  padding-bottom: 80px;
  color: white;
}

.Vedette1 {
  grid-column: a / c;
  grid-row: a / b;
  justify-self: center;
  align-self: center;
}

.Vedette2 {
  grid-column: c / e;
  grid-row: a / b;
  justify-self: center;
  align-self: center;
}

.PaddingBottom {
  padding-bottom: 150px;
}

.Vedette4 {
  grid-column: a / e;
  grid-row: b / c;
  justify-self: flex-start;
  align-self: center;
  padding-left: 10px;
}

h2 {
  color: white;
}

.Vedette5 {
  grid-column: a / e;
  grid-row: b / c;
  justify-self: center;
  align-self: center;
}

.Vedette6 {
  grid-column: a / e;
  grid-row: b / c;
  justify-self: flex-end;
  align-self: center;
  padding-right: 10px;
}

.Vedette7 {
  grid-column: a / c;
  grid-row: c / d;
  justify-self: center;
  align-self: center;
}

.Vedette8 {
  grid-column: c / e;
  grid-row: c / d;
  justify-self: center;
  align-self: center;
}

.Vedette9 {
  grid-column: a / e;
  grid-row: d / e;
  justify-self: flex-start;
  align-self: center;
  padding-left: 10px;
}

.Vedette10 {
  grid-column: a / e;
  grid-row: d / e;
  justify-self: center;
  align-self: center;
}

.Vedette11 {
  grid-column: a / e;
  grid-row: d / e;
  justify-self: flex-end;
  align-self: center;
  padding-right: 10px;
}

.VedetteTop {
  width: 170px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px black;
}

.VedettePic {
  width: 110px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px black;
}

.VedetteTitle {
  font-size: 13px;
  text-align: center;
  font-style: italic;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

@media screen and (min-width: 440px) {
  .VedetteTop {
    width: 200px;
  }

  .VedettePic {
    width: 130px;
  }
}

@media screen and (min-width: 500px) {
  .VedetteTop {
    width: 220px;
  }

  .VedettePic {
    width: 140px;
  }

  .VedetteTitle {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  .VedetteTop {
    width: 260px;
  }

  .VedettePic {
    width: 170px;
  }

  .VedetteTitle {
    font-size: 17px;
  }
}

@media screen and (min-width: 700px) {
  .VedetteTop {
    width: 320px;
  }

  .VedettePic {
    width: 200px;
  }

  .VedetteTitle {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .VedetteTop {
    width: 350px;
  }

  .VedettePic {
    width: 240px;
  }

  .VedetteTitle {
    font-size: 19px;
  }
}

@media screen and (min-width: 900px) {
  .VedetteTop {
    width: 380px;
  }

  .VedettePic {
    width: 280px;
  }

  .VedetteTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1057px) {
  .VedetteTop {
    width: 430px;
  }

  .VedettePic {
    width: 320px;
  }

  .VedetteTitle {
    font-size: 21px;
  }
}

@media screen and (min-width: 1250px) {
  .VedetteTop {
    padding: 5px;
  }

  .VedettePic {
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .VedetteTitle {
    font-size: 25px;
  }
}  