.AfterTitle {
  padding-top: 100px;
  color: white;
  text-decoration: none;
}

.Confirmation {
  color: white;
  font-size: 20px;
  padding: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border: solid black;
  border-radius: 25px;
  background-color: rgb(110, 179, 110);
}

.Link {
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.LogoPhoto {
  width: 50%;
  border-radius: 40%;
  margin-left: 25%;
  margin-top: 10%;
  box-shadow: 5px 5px 20px black;
  opacity: 80%;
}

.LogoPhoto:hover {
  opacity: 100%;
}

@media screen and (min-width: 600px) {
  .DivLogo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .Link {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .Confirmation {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .Link {
    font-size: 30px;
  }
}
