@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 20px;
}

.BurgerMenu {
  width: 35px;
  position: fixed;
  margin-right: 15px;
  margin-top: 15px;
  top: 0;
  right: 0;
}

.SizeNavbar {
  display: none;
}

@media screen and (min-width: 900px) {
  .SizeNavbar {
    display: flex;
    position: fixed;
    margin-top: 20px;
    margin-left: 50%;
    text-transform: uppercase;
  }

  .LiNavBar {
    display: inline;
    padding: 20px;
  }

  h1 {
    text-align: start;
    padding-left: 50px;
  }

  .BurgerMenu {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .SizeNavbar {
    margin-left: 60%;
  }
}

@media screen and (min-width: 1500px) {
  .SizeNavbar {
    margin-left: 70%;
  }
}