@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.Paragraph {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-shadow: 2px 2px 2px black;
  padding: 40px;
}