@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.Tarifs {
  font-family: 'Kdam Thmor Pro', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

p {
  text-align: center;
  padding: 20px;
}

.Price {
  color: rgb(135, 138, 135);
}

.TitleTarifs {
  text-align: center;
  text-transform: uppercase;
  color: rgb(196, 196, 196);
  padding: 20px;
}

.TarifText {
  color: white;
  padding: 20px;
}

ul {
  margin: 0;
}

.LastUl {
  padding-bottom: 150px;
}

.ListTarif {
  color: white;
  list-style: none;
}

.DescriptionSpan {
  color: rgb(136, 136, 136);
}

@media screen and (min-width: 700px) {
  .Tarifs {
    font-size: 24px;
  }
}
